<!DOCTYPE html>
<html>
<head>
  <title>Cryptography</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      
        <a class="navbar-brand" href="/">Applied Cryptography</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      
        
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/blockcipher">Block Cipher</a></li>
          <li><a href='/modeofop'>Mode of Operation</a></li>
          
        </ul>
      <!--</div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class = "row justify-content-center">
    <div class = "col-lg-12 center-block">
      <h1>
        Welcome to the site! 
      </h1>
      <p>
        Have a project that requires choosing a block cipher or a mode of operation? This can be a tough decision for many people so we've provided a 
        couple quizlets to get you started! 
      </p>
      <p>Click <a href="/blockcipher">HERE</a> to help you choose your block cipher</p>
      <p>Click <a href="/modeofop">HERE</a> to help you choose your mode of operation</p>
     
    </div>

  </div>
  </div>
</body>
</html>
