<!DOCTYPE html>
<html>
<head>
  <title>Cryptography</title>
</head>
<body>
  <h1>hey crypto</h1>
  <form action="/questions" method="post">
  <p>Question 1: How lightweight does your product need to be?</p>
     <input type="radio" id="light" name="weight" value="light">
    <label for="light">Light</label><br>
    <input type="radio" id="medium" name="weight" value="medium">
    <label for="medium">Medium</label><br>
  <input type="radio" id="heavy" name="weight" value="heavy">
  <label for="heavy">Heavy</label>

  <br>  

  <p>Are your computing resources low?</p>
  <input type="radio" id="no" name="resources_constraint" value="no">
  <label for="no">No</label><br>
  <input type="radio" id="medium" name="resources_constraint" value="medium">
  <label for="medium">Medium</label><br>  
  <input type="radio" id="yes" name="resources_constraint" value="yes">
  <label for="yes">Yes</label><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
